<ion-view cache-view="false" view-title="Livro" hide-back-button="true">
  <ion-nav-buttons side="right"> 
    <button class="button button-stable" ng-hide="Livro.inserting || Livro.editing" ng-click="Livro.startInserting()"> <i class="icon ion-plus-round"></i> </button>
    <button class="button button-stable" ng-show="Livro.inserting || Livro.editing" ng-click="Livro.post()"> <i class="icon ion-checkmark"></i> </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-hide="Livro.inserting || Livro.editing" menu-toggle="left"> </button>
    <button class="button button-stable" ng-show="Livro.inserting || Livro.editing" ng-click="Livro.cancel()"> <i class="icon ion-android-arrow-back"></i> </button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-hide="Livro.inserting || Livro.editing" data-component="crn-datasource-filter" id="crn-datasource-filter-general" class="">
      <label class="item item-input" id="cloud-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text"  ng-model="vars.search" cronapp-filter="titulo;" cronapp-filter-operator="" cronapp-filter-autopost="true" crn-datasource="Livro" value="" placeholder="{{'template.crud.search' | translate}}">
      </label>
    </div>   
    <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-906854">
      <datasource  name="Livro" entity="api/cronapi/crud/app.entity.Livro" keys="id" rows-per-page="10" delete-message="Deseja remover?" class=""></datasource>
    </div>
    <div crn-datasource="Livro" class="" ng-hide="Livro.editing || Livro.inserting">
      <ion-list can-swipe="listCanSwipe">
        <ion-item ng-repeat="rowData in datasource.data" class="item" ng-click="datasource.startEditing(rowData)">
          <div class="row">
            <div class="col">
              {{rowData.titulo}}
            </div>
            <div class="col">
              {{rowData.autor}}
            </div>
          </div>
          <ion-option-button class="button-positive" ng-click="datasource.startEditing(rowData)">
            <i class="icon ion-edit"></i>
          </ion-option-button>
          <ion-option-button class="button-assertive" ng-click="datasource.remove(rowData)">
            &nbsp;
            <i class="icon ion-trash-a"></i>
          </ion-option-button>
        </ion-item>
      </ion-list>
    </div>
    <div ng-show="Livro.editing || Livro.inserting">
      <form crn-datasource="Livro">
        <fieldset ng-disabled="!Livro.editing &amp;&amp; !Livro.inserting">
          <div class="list">
            <!-- titulo begin -->
            <label for="textinput-titulo" class="item item-input item-stacked-label">
            <span class="input-label">Titulo</span>
            <input
            type="text"
            placeholder="Titulo"
            ng-model="Livro.active.titulo"
            id="textinput-titulo"
            name="textinput-titulo"
            >
            </label>
            <!-- autor begin -->
            <label for="textinput-autor" class="item item-input item-stacked-label">
            <span class="input-label">Autor</span>
            <input
            type="text"
            placeholder="Autor"
            ng-model="Livro.active.autor"
            id="textinput-autor"
            name="textinput-autor"
            >
            </label>
          </div>
        </fieldset>
      </form>
    </div>
  </ion-content>
</ion-view>
